<h3>Employee name: <%= @employee.name %></h3>
<br>

<form action="/employee/<%= @employee.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="name" value="<%= @employee.name %>">
  <button type="submit" name="button">Update name</button>
</form>
<br>
<form action="/employee/<%= @employee.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn btn-danger" type="submit">DELETE</button>
</form>
